.form.orange
  .call-to-action
    Оставьте заявку до 27 ноября, чтобы получить 700 рублей скидку.

    .form-body
      %input{type: :text, name: :username, placeholder: 'Ваше имя' }
      %input{type: :text, name: :phone, placeholder: 'Ваш номер телефона' }
      %input{type: :text, name: :email, placeholder: 'Ваше email' }
      %button.send-order{goal: 'action-form'}
        Получить каталог