.wrapper
  %h1 Политика конфиденциальности


  %h2 1. Общие положения

  %p
    Montale.tastell.ru (далее - “Montale.tastell.ru”, “мы”, “нас” или “наш”) считает своим долгом защищать конфиденциальность личной информации
    клиентов, которые могут быть идентифицированы каким-либо образом, и которые посещают веб-сайт abardacha.ru (далее -
    “Сайт”)  и пользуются его услугами (далее - “Сервисы”). Поправки к настоящей Политике конфиденциальности будут
    размещены на Сайте и/или в Сервисах и будут являться действительными сразу после публикации. Ваше дальнейшее
    использование Сервисов после внесения любых поправок в Политике конфиденциальности означает Ваше принятие данных
    изменений.

  %h2 2.	Согласие на сбор и использование информации
  %p
    Когда Вы присоединяетесь к нам, как пользователь наших Сервисов, мы просим предоставить личную информацию, которая
    будет использоваться для активации Вашей Учетной записи, предоставления Вам Сервисов, взаимодействия с Вами по
    поводу состояния Вашей Учетной записи, и для других целей, изложенных в настоящей Политике конфиденциальности. Ваше
    имя, название компании, адрес, номер телефона, адрес электронной почты, данные кредитной карты и некоторые другие
    сведения о Вас могут потребоваться нам для первоначального предоставления доступа к Сервисам, или должны быть
    указаны в процессе использования Сервисов. Вам также будет предложено создать личный пароль, который станет частью
    Вашей Учетной записи.
  %p
    Предоставляя личную информацию нам, и, сохранив тем самым возможность с нашей стороны предоставлять Вам услуги,
    Вы добровольно соглашаетесь на сбор, использование и раскрытие такой личной информации, которая указана в данной
    Политике конфиденциальности. Не ограничивая вышесказанное, мы можем время от времени уточнять о Вашем согласии в
    процессе сбора, использования или раскрытия Вашей личной информации в конкретных обстоятельствах. Иногда Ваше
    согласие будет подразумеваться через Ваше взаимодействие с нами, если цель сбора, использования или раскрытия
    информации очевидна, и Вы добровольно предоставляете эту информацию.

  %p
    Мы можем использовать Вашу личную информацию или данные Учетной записи для следующих целей:
    ·	Для предоставления Вам Сервисов и для улучшения качества Сайта и Сервисов,
    ·	Для предоставления информации Вам, чтобы Вы могли использовать Сайт и Сервисы более эффективно,
    ·	Для создания, управления и контроля Вашей Учетной записи и для проверки прав доступа к сервисам и программному
    обеспечению,
    ·	Чтобы снимать оплату с Вашей Учетной записи,
    ·	Для общения с Вами с целью информирования об изменениях или дополнениях к Сервисам, или о наличии любых услуг,
    которые мы предоставляем,
    ·	Для оценки уровня обслуживания, мониторинга трафика и показателя популярности различных вариантов
    обслуживания,
    ·	Для осуществления наших маркетинговых мероприятий;
    ·	Для соблюдения данной Политики конфиденциальности;
    ·	Чтобы ответить на претензии в отношении любого нарушения наших прав или прав любых третьих лиц;
    ·	Чтобы соответствовать Ваши запросам по обслуживанию клиентов;
    ·	Для защиты прав, собственности и личной безопасности Вас, нас, наших пользователей и общественности, и как
    требуется или одобрено законом.

  %p
    Иногда мы можем оповещать Вас по поводу наших продуктов, услуг, новостей и событий. У Вас есть возможность не
    получать эту информацию. Мы предоставляем возможность отказаться от всех почтовых сообщений подобного рода, или
    приостановить оповещения с описанными выше целями, если Вы свяжетесь с нами и подтвердите желание не сообщать Вам
    данную информацию. Единственный вид данных сообщений, от которых Вы не можете отказаться, это обязательные
    объявления, касающиеся Сервисов, включая информацию, относящуюся к Вашей Учетной записи, планируемых
    приостановок и отключений Сервисов. Мы постараемся свести к минимуму подобные оповещения для Вас.
  %h2 3. Возраст совершеннолетия
  %p
    Мы сознательно не предоставляем Сервисы и не будем сознательно собирать личную информацию от лиц моложе
    совершеннолетнего возраста.

  %h2 4. Права на Вашу информацию
  %p
    У Вас есть право на доступ и редактирование Вашей информации в любое время через веб-интерфейс, предоставляемый в
    рамках Сервисов.
  %h2 5. Раскрытие информации

  %p
    Мы будем раскрывать Вашу информацию третьим лицам только в соответствии с Вашими инструкциями или в случае
    необходимости для того, чтобы предоставить Вам определенный сервис, или по другим причинам в соответствии с
    действующим законодательством в отношении конфиденциальности. Как правило, мы не осуществляем и не будем
    продавать, сдавать в аренду, распространять или раскрывать Вашу личную информацию без предварительного получения
    Вашего разрешения или без указания необходимых условий для этих действий в настоящей Политике конфиденциальности.


  %h2 6. Совокупные данные
  %p
    Мы также можем использовать Вашу личную информацию для получения Совокупных данных для внутреннего пользования и
    для обмена с другими лицами на выборочной основе. “Совокупные данные” означают данные, которые были лишены
    уникальной информации для потенциального выявления клиентов, целевых страниц или конечных пользователей, и которые
    были изменены или объединены для предоставления обобщенной, анонимной информации. Ваша личность и личная
    информация будет храниться анонимно в Совокупных данных.

  %h2 7. Ссылки
  %p
    Сайт может содержать ссылки на другие сайты, и мы не несем ответственности за политику конфиденциальности или
    содержание данных сайтов. Мы рекомендуем Вам ознакомиться с политикой конфиденциальности связанных сайтов. Их
    политика конфиденциальности и деятельность отличаются от наших Политики конфиденциальности и деятельности.
  %h2 8. Cookies и логгирование
  %p
    Мы используем “куки” (cookies) и “логи” (log files) для отслеживания информации о пользователях. Cookies являются
    небольшими по объему данными, которые передаются веб-сервером через Ваш веб-браузер и хранятся на жестком диске
    Вашего компьютера. Мы используем cookies для отслеживания вариантов страниц, которые видел посетитель, для подсчета
    нажатий сделанных посетителем на том или ином варианте страницы, для мониторинга трафика и для измерения
    популярности сервисных настроек. Мы будем использовать данную информацию, чтобы предоставить Вам релевантные
    данные и услуги. Данная информация также позволяет нам убедиться, что посетители видят именно ту целевую страницу,
    которую они ожидают увидеть, в том случае, если они возвращаются через тот же URL-адрес, и это позволяет нам сказать,
    сколько людей нажимает на Ваши целевые страницы.

  %h2 9. Передача собственности или бизнеса
  %p
    В случае смены владельца или другой передачей бизнеса, такой как слияние, поглощение или продажа наших активов, Ваша
    информация может быть передана в соответствии с применимыми законами о конфиденциальности.
  %h2 10. Безопасность
  %p
    Мы будем стремиться предотвратить несанкционированный доступ к Вашей личной информации, однако, никакая передача
    данных через интернет, мобильное устройство или через беспроводное устройство не могут гарантировать 100%-ную
    безопасность. Мы будем продолжать укреплять систему безопасности по мере доступности новых технологий и методов.
    Мы настоятельно рекомендуем Вам никому не разглашать свой пароль. Если вы забыли свой пароль, мы попросим Вас
    предоставить документ для подтверждения Вашей личности и отправим Вам письмо, содержащее ссылку, которая позволит
    Вам сбросить пароль и установить новый.

  %p
    Пожалуйста, помните, что Вы контролируете те данные, которые Вы сообщаете нам при использовании Сервисов. В
    конечном счете Вы несете ответственность за сохранение в тайне Вашей личности, паролей и/или любой другой личной
    информации, находящейся в Вашем распоряжении в процессе пользования Сервисами. Всегда будьте осторожны и
    ответственны в отношении Вашей личной информации. Мы не несем ответственности за, и не можем контролировать
    использование другими лицами любой информации, которую Вы предоставляете им, и Вы должны соблюдать осторожность в
    выборе личной информации, которую Вы передаете третьим лицам через Сервисы. Точно так же мы не несем
    ответственности за содержание личной информации или другой информации, которую Вы получаете от других пользователей
    через Сервисы, и Вы освобождаете нас от любой ответственности в связи с содержанием любой личной информации или
    другой информации, которую Вы можете получить, пользуясь Сервисами. Мы не можем гарантировать и мы не несем
    никакой ответственности за проверку, точность личной информации или другой информации, предоставленной третьими
    лицами. Вы освобождаете нас от любой ответственности в связи с использованием подобной личной информации или иной
    информации о других.

  %h2 11. Связь с нами
  %p
    Если у Вас есть вопросы или предложения относительно Политики конфиденциальности, пожалуйста, напишите нам на:
    abardacha@gmail.com