.schema
  .wrapper
    .title
      Почему наши цены на 50% ниже, чем в крупных бутиках

    .bracket

    .schema-row

      .arrow.red
        Стоимость Serge Lutens Cedre
        в бутиках

      .icon-area
        .price.gray 2 700 руб.
        .icon
          %img{src: '/images/icon_perfume_gray.png'}
        .icon-text
          Закупочная цена
          (100 ml)

      .icon-space
        .icon-plus

      .icon-area
        .price.orange +2 500 руб.
        .icon
          %img{src: '/images/icon_margin.png'}
        .icon-text Наценка

      .icon-space
        .icon-plus

      .icon-area
        .price.orange +3 500 руб.
        .icon
          %img{src: '/images/icon_rent.png'}
        .icon-text
          Аренда магазина


      .icon-space
        .icon-plus

      .icon-area
        .price.orange +1 000 руб.
        .icon
          %img{src: '/images/icon_salary.png'}
        .icon-text
          Зарплата продавцам

      .icon-space
        .icon-equal-sign

      .icon-area
        .price.red 9 700 руб.
        .icon
          %img{src: '/images/icon_perfume_red.png'}
        .icon-text
          Стоимость для покупателя


    .schema-row

      .arrow.green
        Стоимость Serge Lutens Cedre
        у нас

      .icon-area
        .price.gray 2 700 руб.
        .icon
          %img{src: '/images/icon_perfume_gray.png'}
        .icon-text
          Закупочная цена
          (100 ml)

      .icon-space
        .icon-plus

      .icon-area
        .price.orange +1 000 руб.
        .icon
          %img{src: '/images/icon_margin.png'}
        .icon-text Наценка

      .icon-space
        .icon-plus

      .icon-area
        .price.orange +1 000 руб.
        .icon
          %img{src: '/images/icon_advert.png'}
        .icon-text
          Эффективаня реклама

      .icon-space
        .icon-equal-sign

      .icon-area
        .price.green 4 700 руб.
        .icon
          %img{src: '/images/icon_perfume_green.png'}
        .icon-text
          Наша стоимость