.triggers
  .title
    Почему нас рекомендуют своим друзьям
  .wrapper
    .trigger
      %img{src: '/images/icon_original.png'}
      .text
        100% Оригинал

    .trigger
      %img{src: '/images/icon_guarantee.png'}
      .text
        30 дней гарантии

    .trigger
      %img{src: '/images/icon_special.png'}
      .text
        Бесплатная доставка

    .trigger
      %img{src: '/images/icon_delivery.png'}
      .text
        Доставка на следующий день